# Server
HOST=0.0.0.0
PORT=1337
APP_KEYS=key1,key2,key3,key4

# Admin JWT
ADMIN_JWT_SECRET=change-me-admin-jwt-secret

# API Token Salt
API_TOKEN_SALT=change-me-api-token-salt

# Transfer Token Salt
TRANSFER_TOKEN_SALT=change-me-transfer-token-salt

# Users-Permissions JWT
JWT_SECRET=change-me-jwt-secret

# Database (SQLite by default)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
